In [1]:
x = 1
y = 2
x+y

3

In [3]:
x

1

In [1]:
x = 1
y = 2
x+y

3

In [3]:
x

1

In [7]:
def add_number(x,y,z):
    return x+y+z
add_number(2,3,5)

10

In [7]:
def add_number(x,y,z):
    return x+y+z
add_number(2,3,5)

10

In [3]:
x

1

In [7]:
def add_number(x,y,z):
    return x+y+z
add_number(2,3,5)

10

In [14]:
def add_number(x,y,z=None):
    if(z==None):
        return x+y
    else:
        return x+y+z
print(add_number(1,2,5))

8

TYPES & SEQUENCES(Tuple, List, Dictionary)

In [15]:
type('This is a string')

str

In [16]:
type(None)

NoneType

In [17]:
type(1)

int

In [18]:
type(1.0)

float

In [19]:
type(add_number)

function

In [22]:
x=(1,'a',2,'b')
type(x)
#tuple are immutable

tuple

In [24]:
x=[1,'a',2,'b']
type(x)
#list are mutable

list

In [26]:
x.append(3.3) #List append
print(x)

[1, 'a', 2, 'b', 3.3, 3.3]

In [27]:
for item in x:
    print(item)

1
a
2
b
3.3
3.3

In [28]:
i=0
while(i!=len(x)):
    print(x[i])
    i+=1

1
a
2
b
3.3
3.3

In [1]:
[1,2] + [3,4] #catinates list

[1, 2, 3, 4]

In [2]:
[1]*3 #repeats value of list

[1, 1, 1]

In [3]:
1 in [1,2,3] #checke whether item is in list

True

In [4]:
x = 'This is a string' #List slicing
print(x[0])
print(x[0:1])  #0=>Start, 1=>End, 1 is not included
print(x[0:2])

T
T
Th

In [7]:
print(x[-1])
print(x[-4:-2])

g
ri

In [16]:
firstname='Souvik'
lastname='Samadder'
print(firstname + ' ' + lastname)
print(firstname * 3)
print('Sou' in firstname)

Souvik Samadder
SouvikSouvikSouvik
True

In [21]:
firstname='Raj Kumar Rao Hirani'.split(' ')[0]
lastname='Raj Kumar Rao Hirani'.split(' ')[-1]
print(firstname)
print(lastname)

Raj
Hirani

In [22]:
x={'Raj':'Cricket',
  'Souvik':'Football'}  #Key:Value
x['Raj']

'Cricket'

In [23]:
x['Rahul']='Soccer'

In [24]:
print(x)

{'Raj': 'Cricket', 'Souvik': 'Football', 'Rahul': 'Soccer'}

In [30]:
for name in x:
    print(name)

Raj
Souvik
Rahul

In [31]:
for game in x.values():
    print(game)

Cricket
Football
Soccer

In [32]:
for name, game in x.items():
    print(name)
    print(game)

Raj
Cricket
Souvik
Football
Rahul
Soccer

In [1]:
x = ('Souvik', 'Samadder', 'souvik@gmail.com') #Unpack tuple in order
fname, lname, email = x

In [2]:
print(fname)
print(lname)
print(email)

Souvik
Samadder
souvik@gmail.com